.md,.ios
{
	page-start {
		
	}
}
.items
	{
		background-color:#387ef5;
	}

#container
	{
		background-color:#387ef5;
	}
#titles{
	margin-top:20px;
	text-align:center;
	font-size:50pt;
	color:white;
}

.btns
{
	text-align:center;
	border-radius:0%;
}