.md,.ios
{
page-view {

}
img{
  margin: auto;
  display: block;
}
}

.title
{
	padding:15px;
	font-size:20pt;
	text-align:center;
}

img{
  margin: auto;
  display: block;
}

.morecolor
{
	color:white;
}