.item item-thumbnail-left {
  height: 150px;
  .item-avatar > img:first-child {
    max-width: 50px;
    max-height: 50px;
  }
}

.md,.ios
{
page-home {
	
}




ion-list
{
	margin-top:40px;
}

ion-item
	{
		padding-top:20px;
	}
}

#titless
{
	padding:15px;
	font-size:20pt;
	text-align:center;
	color:#222;
}

#right
{
	float:right;
}


.morecolor
{
	color:black;
	background-color:transparent;
}


img
{
	
}